.container {
  height: 100vh;
  padding-top: 200px;
 }

.wrap {
  min-height: 25vh;
  position: relative;
  background-color: rgb(238, 234, 172);
}

.results {
  display: flex;
  justify-content: space-between;
  padding: 30px 20px;
  font-weight: bold;
  font-size: 21px;
  color: dimgray;
  text-transform: uppercase;
}

.done {
  text-decoration: line-through;
}

.field {
  width: 90%;
  margin-bottom: 10px;
}

.field input:hover {
  cursor: pointer;
}

.field {
  color: red;
}

.field input {
  color: blue;
}

.btn {
  margin: 20px 15px 10px 0;
}
